@page "/categories/details"
@layout AdminLayout
@using Microsoft.EntityFrameworkCore
@using Project_PiggyPro.Domain
@inject IDbContextFactory<Project_PiggyPro.Data.Project_PiggyProContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Category</h2>
    <hr />
    @if (category is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CategoryName</dt>
            <dd class="col-sm-10">@category.CategoryName</dd>
            <dt class="col-sm-2">CategoryType</dt>
            <dd class="col-sm-10">@category.CategoryType</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@category.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@category.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@category.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@category.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/categories/edit?id={category.Id}")">Edit</a> |
            <a href="@($"/categories")">Back to List</a>
        </div>
    }
</div>

@code {
    private Category? category;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        category = await context.Category.FirstOrDefaultAsync(m => m.Id == Id);

        if (category is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
